.bar{
top: 0;
display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
background-color: white;
width: 100%;
}

.nav-logo{
    margin: 0 5%;
}

.nav-links{
display: flex;
flex-direction: row;
margin: 0 20%;
}

.nav-links a{
    margin: 0 10px;
    cursor: pointer;
}

/* these next four classes are used to create an animation that */
/* covers the top and bottom of the page in a read line         */
/* when the user hovers over a link                             */

.nav-links:before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #DD5669 ;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s;
}

.nav-links:after{
    content: '';
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: #DD5669;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s;
}

.nav-links:hover:before{
    transform: scaleX(1);
}

.nav-links:hover:after{
    transform: scaleX(1);
}